@model IEnumerable<OstadAssignment2.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Student List</h2>

<p>
    @Html.ActionLink("Create New", "Create","",new {@class="btn btn-primary"})
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayName("Course Name")</th> <!-- Display Course Name instead of CourseId -->
            <th>@Html.DisplayName("Teacher Name")</th> <!-- Display Teacher Name instead of TeacherId -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseName.CourseName)</td> <!-- Display Course Name -->
                <td>@Html.DisplayFor(modelItem => item.TeacherName.TeacherName)</td> <!-- Display Teacher Name -->
                <td>
                    @Html.ActionLink("Edit", "Edit","", new { id = item.StudentId }, new {@class="btn btn-primary"}) |
                    @Html.ActionLink("Details", "Details","", new { id = item.StudentId }, new {@class="btn btn-info"}) |
                    @Html.ActionLink("Delete", "Delete","", new { id = item.StudentId }, new {@class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
